.top {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  font-size: larger;
}

p {
  padding-bottom: 10px;
  padding-top: 10px;
}

h2 {
  padding-bottom: 30px;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 7%;
}

.crop-container {
  width: 80%;
  overflow: hidden;
  border-radius: 50px;
}

.quill-image {
  width: calc(100% + 60px); /* Add 60px to compensate for 30px crop on each side */
  margin-left: -30px;
  margin-right: -30px;
}