<header class="header">
  <div class="header__nav-header">
    <a class="header__title" [routerLink]="['']">Nick Brandis</a>
    <nav aria-label="Main Navigation">
        <ul class="header__nav-items">
            <a class="header__nav-item" [routerLink]="['/engineering']">Engineering</a>
            <a class="header__nav-item" [routerLink]="['/music']">Music</a>
            <a class="header__nav-item" [routerLink]="['/engineering']">About</a>
            <a class="header__nav-item" [routerLink]="['/engineering']">Contact</a>
        </ul>
    </nav>
  </div>
</header>
