.home {
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  font-size: larger;
}

.home-section {
  display: flex;
  align-items: center;
  padding-bottom: 20%;
}

#section-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#section-text {
  width: 70%;
}

.home-text {
  max-width: 85%;
}

.home-image {
  max-width: 60%;
  height: auto;
}

p {
  padding-top: 1%;
}