<div class="home">
  <h1>Welcome!</h1>
  <p>
    My name is Nick Brandis and I am a software engineer currently working at 
    Teradata. 
  </p>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
  <h3>More content here</h3>
</div>
